<!-- //////////////////////////////////////////////
// Author: Jared Parkinson
// Mail: parkinja @ oregonstate . edu
// CS290 - Final Project
// MySQL Database Exercise Tracker
//////////////////////////////////////////////// -->

<link rel="stylesheet" href="static/css/style.css">
<h2>Update your Exercise Data</h2>
<form method ="post" action="/update">
  <label for="name"><strong>Name: </strong></label>  
  <input id="name" type="text" name="name" value="{{results.[0].name}}">
  <label for="reps"><strong>Reps: </strong></label>
  <input id="reps" type="text" name="reps" value={{results.[0].reps}}>
  <label for="weight"><strong>Weight: </strong></label>
  <input id="weight" type="text" name="weight" value={{results.[0].weight}}>
  <label for="date"><strong>Date: </strong></label>
  <input id="date" type="date" name="date" value={{results.[0].mydate}}>
  <label for="lbs"><strong>Uncheck for kg. Lbs default: </strong></label>
  <input id="lbs" type="checkbox" name="lbs" value="lbs" {{#if results.[0].lbs}}checked{{/if}}>
  <br/>
  <input type="hidden" name="id" value={{results.[0].id}}>  
  <input class="button" id="update" type="submit" name="update" id="updateMe" value="Update">
</form>